.landing {
  /* height: 100vh;
  overflow: hidden; */
}

.header {
  height: 64px;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.body {
  padding-top: 100px;
}

.tag {
  padding: 5px 20px;
  font-size: 17px;
  color: #d48806;
  border: 2px solid #d48806;
  border-radius: 50px;
  background-color: #fffbe6;
}

.tagText {
  font-size: 17px;
  color: #d48806;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.desc {
  width: 650px;
  font-size: large;
  text-align: center;
  color: grey;
}

.imgContainer{
  height: 510px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.img {
  width: 1000px;
  border-radius: 15px;
  z-index: 100;
}

.gradient {
  width: 1015px;
  height: 505px;
  position: absolute;
  top: -10px;
  background-image: linear-gradient(to right, #44BCFF, #FF44EC, #FF675E);
  filter: blur(10px);
  opacity: 0.3;
  /* display: inline-block; */
}