.landing {
  height: 100vh;
}

.header {
  height: 64px;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.body {
  height: 75%;
}

.tag {
  padding: 5px 20px;
  font-size: 17px;
  color: #d48806;
  border: 2px solid #d48806;
  border-radius: 50px;
  background-color: #fffbe6;
}

.tagText {
  font-size: 17px;
  color: #d48806;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.desc {
  width: 650px;
  text-align: center;
}
