.dashboard {
  height: 100vh;
}

.sidebar {
  padding: 16px;
}

.col {
  aspect-ratio: 1;
  outline: 2px solid blue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col:hover {
    outline: 2px solid rgb(238, 217, 28);
}
