.dashboard {
  height: 100vh;
}

.header {
  height: 64px;
  padding: 16px;
  border: 1px solid white;
}

.body {
  flex: 1;
  height: calc(100vh - 64px);
  padding: 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar {
  padding: 16px;
}

.col {
  aspect-ratio: 1;
  border: 1px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  overflow: hidden;
}

.col:hover {
  border: 1px dashed #1677ff;
}

.border {
  width: min-content;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.noInput {
  width: 45px;
}
