.dashboard {
  height: 100vh;
}

.header {
  height: 64px;
  padding: 16px;
  border: 1px solid #d9d9d9;
}

.sidebar {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-top: 0;
}

.col {
  aspect-ratio: 1;
  outline: 1px solid #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col:hover {
  outline: 1px solid #1677ff;
}

.border {
  width: min-content;
  padding: 10px;
  border-radius: 10px;
  outline: 1px solid #d9d9d9;
}

.noInput {
  width: 45px;
}
